

$background: #FBFBFB;
$foreground: #FFFFFF;
$main-color: #213F7D;
$secondary-color: #545F7D;
$border-color: rgba($secondary-color, 0.15);
$neon: #39CDCC;
$red: #E4033B;
$green: #39CD62;
$yellow: #E9B200;
$red-2: #FF3366;
$orange: #F55F44;
$blue: #5718FF;
$purple: #DF18FF;

$header-height-xl: 100px;
$header-height-lg: 80px;
$header-height-md: 72px;
$sidebar-width-xl: 284px;
$sidebar-width-lg: 40px;
$sidebar-width-sm: 0px;

$breakpoint-xl: 1254px;
$breakpoint-lg: 1080px;
$breakpoint-md: 880px;
$breakpoint-sm: 640px;
$breakpoint-xs: 480px;